.time-converter{
    display: flex;
}
.result{
    width: 50%;
}
.time-converter-container{
    border-radius: 10px;
    /* background-color: rgb(0,0,0,0.5); */
    background-color: white;
    width: 38%;
    margin: auto;
    box-shadow: 3px 3px 3px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    padding: 20px;
}

label{
    text-align: left;
}

.time-converter-container label p{
    margin: 5px 0px;
    font-size: 15px;
    color: black;
}

.css-13cymwt-control{
    height: 40px;
    /* background-color: rgb(0,0,0,0.5) !important; */
    /* border: none !important; */
}
.css-a643pv-MuiStack-root{
    padding: 0px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px !important;
}

button {
    font-family: inherit;
    font-size: 18px;
    background: royalblue;
    color: white;
    padding: 15px 17px;
    align-items: center;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    margin: auto;
  }

  @media (max-width: 768px){
    .time-converter{
        display: block;
    }
    .result{
        margin-top: 40px;
        width: 100%;
    }
  }
  @media (max-width: 480px){
    .time-converter-container{
        width: 70%;
    }
    .result{
        margin-top: 40px;
        width: 100%;
    }
  }