.field-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.field .label-text{
font-weight: 500;
}

.date-picker{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 0.25rem;
}